table {
	color: #ffff;
  	text-transform: capitalize;
  	border-collapse: collapse;
  	border: 5px solid #7977a2;
  	background: linear-gradient(65deg, #9db7c4, #7977a2);
}

th {
  	text-align: left;
  	z-index: 1;
  	background-color: rgb(61, 70, 119);
}

th {
	position: relative;
  	padding: 15px;
}

td {
  	position: relative;
  	padding: 15px;
}

tr:hover {
  	background-color: rgb(255, 255, 255, 0.322);
}

td:hover::after {
  	position: absolute;
  	background-color: rgb(255, 255, 255, 0.322);
  	content: "";
  	height: 10000px;
  	left: 0;
  	top: -5000px;
  	width: 100%;
}
